<%- include('../global/head.ejs') %>
  <link href="/css/product.css" rel="stylesheet"/>
</head>
<body>
  <%- include('../global/nav.ejs') %>
  <main class="centered product-detail-section">
    <h1><%= product.title %></h1>
    <hr/>
    <img src="<%= product.imageUrl %>" alt="Image of <%= product.title %>"/>
    <h2>$<%= product.price %></h2>
    <p><%= product.description %></p>
    <div class="product-actions">
      <a class="btn" href="/admin/edit-product">Edit</a>
      <a class="btn" href="/admin/delete-product">Delete</a>
    </div>
  </main>
<%- include('../global/end.ejs') %>