<%- include('../global/head.ejs') %>
  <link href="/css/product.css" rel="stylesheet"/>
</head>
<body>
  <%- include('../global/nav.ejs') %>
  <main>
    <h1><%= pageTitle %></h1>
    <% if (prods.length > 0) { %>
      <div class="grid">
        <% prods.map((product) => { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title"><%= product.title %></h1>
            </header>
            <div class="card__image product__image">
              <img src="<%= product.imageUrl %>" alt="A Book">
            </div>
            <div class="card__content">
              <h2 class="product__price">$<%= product.price %></h2>
              <p class="product__description"><%= product.description %></p>
            </div>
            <div class="card__actions">
              <button class="btn">Edit Product</button>
              <button class="btn">Delete Product</button>
            </div>
          </article>
        <% }) %>
      </div>
    <% } else { %>
      <h1>No products found in the shop</h1>
    <% } %>
  </main>
<%- include('../global/end.ejs') %>